* {
	margin: 0;
	padding: 0;
}
.toplogo img {
	float: left;
	margin-left: 340px;
	width: 70px;
	margin-top: 10px;

}

.toplogo {
	background-image: linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0));
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 100;
}

.toplogo p {
	float: left;
	padding: 0 20px;
	line-height: 80px;
	font-size: 1.125em;
	margin-left: 10px;
	cursor: pointer;
    color: #fff;
}

.toplogo p:hover {
	background-color: #FE742C;
	color: #fff;
}



.TopBackground {
	background-color: aqua;
	width: 100%;
	height: 45em;
}

.TopBackground img {
	width: 100%;
	height: 100%;
}

.AllRome {
	background-color: #eee;
}

.Content {
	height: 1700px;
	margin: 2rem auto;
	/* background-color: #007AFF; */
	width: 1350px;
	overflow: hidden;
}

.swiper-container {
	width: 51.25em;
	height: 23.75em;
	float: left;
	padding-bottom: 2.5em;
}

.circle {
	display: flex;
	background-color: #979797;
	bottom: 1px !important;
	height: 2.5em;
}

.circle span {
	display: block;
	width: 50%;
}

.swiper-pagination-bullet {
	background-color: #e3e2e2;
	margin: 0 !important;
	opacity: 0.8;
	height: 100%;
	border-radius: 0;
}

.swiper-pagination-bullet-active {
	background: #f7f6f6;
	border-bottom: solid 1px #cea861;
	opacity: 1;
	color: #ab8e66;
	text-align: center;
	line-height: 2.5em;
}

.consult {
	float: right;
	width: 496px;
	height: 25.95em;
	margin-top: 10px;
}

.TopConsult {
	height: 37px;
	display: flex;
	border-bottom: 1px solid #e0e2e2;
}

.TopConsult div {
	font-size: 18px;
	width: 50%;
	color: #676767;
	cursor: pointer;
	text-align: center;
}

.ContentConsult li {
	list-style: none;
	border-bottom: 1px solid #e0e2e2;
	padding: 11px 0;
}

.Headline {
	width: 496px;
	height: 65px;
	overflow: hidden;
	line-height: 65px;
	text-align: center;
	font-size: 22px;
	font-weight: 700;
	box-sizing: border-box;
	padding: 0 12px !important;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #0da0b4;
}

.ConsultHeadline {
	width: 360px;
	color: #424242;
	font-size: 14px;
	display: inline-block;
	margin-left: 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	height: 100%;
	line-height: 12px;

}

.type2 {
	font-size: 12px;
	color: #e9852d;
	border: 1px #e9852d solid;
	padding: 2px;
}

.type1 {
	font-size: 12px;
	color: #6388c5;
	border: 1px #97afc5 solid;
	padding: 2px;
}

.type3 {
	font-size: 12px;
	color: #bb9a6c;
	border: 1px #c5ab86 solid;
	padding: 2px;
}

.type4 {
	font-size: 12px;
	color: #69c5d2;
	border: 1px #1da6ba solid;
	padding: 2px;
}

.ConsultMore {
	display: block;
	width: 496px;
	height: 40px;
	background-color: #e3e2e2;
	line-height: 40px;
	text-align: center;
	list-style: none;
	text-decoration: none;
}

.c1 {
	font-size: 14px;
	color: #676767;
}

.c2 {
	font-size: 14px;
	color: #7ea1a6;
}

.pictrue {
	width: 20px;
	height: 12px;
	display: inline-block;
	background-image: url(../img/comm2.png);
	background-size: 100%;
}

.Activity {
	float: left;
	margin-top: 30px;
}

.Activity_title {
	border-left: solid 3px #1da6ba;
	float: left;
	padding-left: 10px;
	color: #0b0b0b;
	font-size: 24px;
	font-weight: 400;
}

.Activity_type {
	height: 37px;
	display: flex;
	border-bottom: 1px solid #e0e2e2;
	line-height: 37px;
	float: left;
	width: 43.25em;
	flex-direction: row;
	margin-left: 20px;
}

.Activity_type div {
	font-size: 16px;
	color: #676767;
	cursor: pointer;
	text-align: center;
	margin-right: 2em;
}

.ActivityBox {
	width: 12.46em;
	height: 17.375em;
	background-color: #fefefe;
	position: relative;
	margin-right: 30px;
}

.ActivityContent {
	width: 100%+1em;
	float: left;
	display: flex;
	margin-top: 20px;
}

.ActivityImg {
	width: 100%;
	height: 12.93em;
}

.ActivityImg img {
	width: 100%;
}

.ActivityIntroduce {
	width: 100%;
	overflow: hidden;
	box-sizing: border-box;
	padding: 6px 10px 4px 10px;
	font-size: 14px;
	color: #424242;
	line-height: 18px;
	text-align: left;
}

.ActivityTime {
	position: absolute;
	font-size: 12px;
	color: #1da6ba;
	left: 10px;
	bottom: 6px;
}

.HotBrand {
	float: left;
	margin-top: 30px;
	width: 100%;
}

.HotBrand_title {
	border-left: solid 3px #1da6ba;
	padding-left: 10px;
	color: #0b0b0b;
	font-size: 24px;
	font-weight: 400;
}

.BrandType {
	margin-top: 20px;
}

.BrandLeft {
	background-color: salmon;
	width: 253px;
	height: 253px;
	float: left;
	margin-right: 30px;
	overflow: hidden;
}

.BrandLeft img {
	width: 100%;
}

.BrandRight {
	float: right;
	width: 496px;
	height: 267px;
}

.BrandRight1 {
	width: 120px;
	height: 120px;
	background-color: #007AFF;
	float: left;
	margin-right: 4px;
	margin-top: 9px;
	overflow: hidden;
}

.BrandRight1 img {
	width: 100%;
}

.BrandRightTop {
	margin-top: 0;
}

.BrandRightBottom {
	margin-top: 10px;
}

.production {
	float: left;
	margin-top: 30px;
	width: 100%;
}

.production_title {
	border-left: solid 3px #1da6ba;
	float: left;
	padding-left: 10px;
	color: #0b0b0b;
	font-size: 24px;
	font-weight: 400;
	width: 1200px;
}

.swiper-container2 {
	height: 400px;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	width: 100px;

}

.productionBox {
	float: left;
	margin-top: 30px;
	width: 820px;
	overflow: hidden;
}
.productionImg{
	width:100%;
	height:205px;
	background-color:slateblue;
	overflow: hidden;
}
.productionImg img{
   width:100%;	
}
.productionContent{
	padding: 10px;
}
.productionTitle{
	text-align: left;
	font-size:16px;
	font-weight: 600;
	color:#808080;
}
.productionText{
	height:98px;
	margin-top: 5px;
	text-align: left;
	font-size:14px;
	color:#676767;
    overflow:hidden;
}
.productionTime{
  text-align: left;
  color:#676767;
  font-size: 16px;
}
.productionStyle{
	margin-top:5px;
	text-align: left;
	font-size: 12px;
	color: #808080;
}
.productionRight{
	float: right;
	width: 496px;
	height: 400px;
	margin-top:30px;
	position: relative;
}
.productionRight div>img{
	width: 100%;
}
.productionRight1{ 
	position: absolute;
	top: 0;
	left: 0;
	width:280px;
	height:197px;
	background-color: #00FFFF;
}
.productionRight2{
	position: absolute;
	top: 203px;
	left: 0;
	width:280px;
	height:197px;
	background-color:#0DA0B4;
}
.productionRight3{
	position: absolute;
	top:0;
	right:0;
	width:211px;
	height:400px;
	background-image: url(../img/ccc.png);
	background-size: 100%;
	-webkit-filter: blur(10px);
}
.MoreProduction{
	width: 211px;
	height: 100%;
	background-color: #6388C5;
	line-height:400px;
	text-align: center;
	opacity: 0.8;
	position: absolute;
	right: 0;
	color:#fff;
}
.recordsRome {
	background-color: #000000;
	width: 100%;
	height: 350px;
	padding-top: 30px;
	overflow: hidden;
}
.toprecords {
	display:flex;
	margin: 0 auto;
	width: 1000px;
	padding-bottom:30px;
	border-bottom:solid 1px #666;
	margin-bottom: 20px;
}
.typeTitle {
	color: #666;
	font-size: 14px;
}


.type {
	height:150px;
}

.category {
	margin-left:50px;
	display:flex;
	justify-content:space-around;
	width: 560px;
}
.categoryUl{
margin-left: 10px;	
}
.categoryUl a{
	display: block;
	text-decoration:none;
	color: #979797;
	font-size: 12px;
	margin-top: 5px;
	margin-left:5px;
}
.categoryUl ul{
	display: flex;
	flex-direction:column;
	flex-wrap:wrap;
	height: 150px;
}
.categoryUl p{
	    height: 25px;
	    color: #666;
	    font-size: 14px;
}
.typeA {
	margin-top: 30px;
}
.typeA a{
	background-image:url(../img/plats1.png);
	padding-top:60px;
	display: inline-block;
	margin-right:40px;
	list-style: none;
	text-decoration:none;
	color: #979797;
	font-size: 14px;
}
.typeA a:nth-child(1){
	background-position:-5px 0;
}
.typeA a:nth-child(2){
	background-position:-322px 0;
}
.typeA a:nth-child(3){
	background-position:-120px 0;
}
.typeA a:nth-child(4){
	background-position:-230px 0;
}
.records p{
	    text-align: center;
	    color: #666;
		font-size: 12px;
}