*{
	margin:0;
	padding:0;
}
.EnterpriseBottom{
	width: 100%;
	position: absolute;
    bottom: 0;	
	top: 0;
	overflow: hidden;
}
.EnterpriseTop{
	width:100%;
	background-color: #fff;
	height: 90px;
	padding:0 100px;
	position: fixed;
	top: 0;
	z-index: 999;
}
.EnterpriseTop a{
	color:#000;
	text-decoration:none;
    font-size:20px;
	height: 100%;
	line-height:90px;
	margin-left:20px;
}
.EnterpriseTopLogo{
	display: block;
	float:left;
	margin-top: 10px;
	margin-left:200px !important;
}
.EnterpriseTopLeft{
	float: left;
	margin-left:500px;
}
.EnterpriseTop a img{
	width:70px;
}
.swiperStyle{
position: relative;
width: 100%;
height: 100%;

}

	