*{
	margin:0;
	padding:0;
}
.EnterpriseBottom{
	width: 100%;
	position: absolute;
    bottom: 0;	
	top: 0;
	overflow: hidden;
}
.EnterpriseTop{
	width:100%;
	background-color: #fff;
	height: 90px;
	padding:0 100px;
	position: fixed;
	top: 0;
	z-index: 999;
}
.EnterpriseTop a{
	color:#000;
	text-decoration:none;
    font-size:20px;
	height: 100%;
	line-height:90px;
	margin-left:20px;
}
.EnterpriseTopLogo{
	display: block;
	float:left;
	margin-top: 10px;
	margin-left:200px !important;
}
.EnterpriseTopLeft{
	float: left;
	margin-left:800px;
}
.EnterpriseTop a img{
	width:70px;
}
.swiperStyle{
position: relative;
width: 100%;
height: 100%;
}
.swiperStyle2{
	width: 100%;
	height: 100%;
}
.slide2{
	background-size:cover;
}
.slide2>img{
	display: block;
	margin: 50px auto;
}
.details{
	width: 100%;
	height: 120px;
	background-color:#2598bb;
	position: absolute;
	bottom: 0;
	z-index: 10;
	opacity: 0.9;
	display: flex;
	box-sizing: border-box;
	padding-top: 15px;
	
}
.detailsBox{
	width: 33.3%;
	height: 100%;
	color: #FFFFFF;
	display: flex;
	box-sizing: border-box;
	padding:0 50px;
}
.detailsBox img{
      width: 50px;
	  height: 50px;
	  margin-right:10px;
}
.detailsTitle{
	font-size: 16px;
}
.detailsText{
	font-size:14px;
	margin-top:5px;
}
	